.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.gallery-image-h {
    height: 250px;
    width: 350px;
    margin-top: -20px;
}

.gallery-image-v {
    height: 420px;
    width: 310px;
}

#img1 {
    padding-left: 120px;
    position: relative;
    top: -75px;
}

#img2 {
    padding-left: 120px;
}

#img3 {
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    top: -75px;
}

#img4 {
    padding-left: 135px;
    padding-top: 50px;
}

#img5 {
    padding-left: 120px;
    position: relative;
    top: -75px;
}

#img6 {
    padding-left: 125px;
    padding-right: 120px;
    padding-top: 50px;
}